{%- capture instagramFeed -%}
<div class="content-indent {{ section.settings.top-offeset}}">
  <div class="{% unless section.settings.section_width %}page-width{% endunless %} wow fadeIn" data-section-id="{{ section.id }}" data-section-type="instagram" data-image="{{ section.settings.images_size }}"
     data-count="{{ section.settings.limit }}" data-from="{{ section.settings.imgfrom }}" data-user="{{ section.settings.user-id }}" data-tag="{{ section.settings.tag }}">
    <section class="home-instagram wow fadeIn">   
        <div class="widget-title text-center">        
          {%- if section.settings.instagram_title != blank  or section.settings.instagram_des != blank -%}
           <div class="sec-ttl {{ settings.title_align}}">
            <h3 class="h3">{{ section.settings.instagram_title }} </h3>  
             {%- if section.settings.instagram_des != blank -%}
            	<span>{{section.settings.instagram_des}}</span>
             {% endif %}
              
           </div>
          {% endif %}        
        </div>    
      	<div id="instafeed{{section.id}}" class="clearfix instafeed {% if section.settings.instastyle == 'carousel' %}insta-slick{% else %}list{% endif %} im{{ section.settings.images_size }} carousel {% if section.settings.grid_space %}grid-sp{% endif %}{% if section.settings.section_width or settings.layout_style == "fullwidth" %} fw{% endif %}" {% if section.settings.instastyle == 'carousel' %}data-slick='{"slidesToShow": {{ section.settings.grid }},"slidesToScroll": 1, {%- if settings.rtl -%}"rtl": true,{%- endif -%} "infinite": true, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": {{ section.settings.tablet-grid }} }},{"breakpoint": 776,"settings":{"slidesToShow":{{ section.settings.mobile-grid }} }} ]}'{% endif %}></div>
        {% if section.settings.instagram_button_text != blank and section.settings.instagram_button_link != blank %}
            <div class="followus">
              <a href="{{ section.settings.instagram_button_link }}" title="{{ section.settings.instagram_button_text }}" target="_blank" class="btn">{{ section.settings.instagram_button_text }}</a>
            </div>
        {% endif %}
    </section>
  </div>
</div>
{%- endcapture -%}
{{instagramFeed | strip_newlines | remove: "  " | remove: "	" }}
{% schema %}
  {
    "name": "Instagram",
    "class":"index-section index-section--flush",
    "settings": [	
      {
        "type": "textarea",
        "id": "instagram_title",
        "label": "Heading",
        "default": "Optimal On Instagram"
      },
      {
        "type": "textarea",
        "id": "instagram_des",
        "label": "Sub Heading",
        "default": "Phasellus lorem malesuada ligula pulvinar commodo auctom."
      },
	  {
		"type":"paragraph",
		"content":"Section==="
	  },
	  {
		"type":"checkbox",
		"id":"section_width",
		"label":"Fullwidth?",
		"default": true
	  },
	  {
            "type": "select",
            "id": "top-offeset",
            "label": "Top OffSet",
            "default": "default",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
			  {
                "value": "none",
                "label": "None"
              }
			]
      },		
	  {
		"type":"paragraph",
		"content":"Settings==="
	  },
	  {
            "type": "select",
            "id": "imgfrom",
            "label": "Show images from",
            "default": "user",
            "options": [
              {
                "value": "user",
                "label": "User Name"
              },
              {
                "value": "tag",
                "label": "Tag Name"
              }
			]
      },
	  {
        "type": "text",
        "id": "user-id",
        "label": "User Name",
        "default": "adornthemes"
      },
	  {
        "type": "text",
        "id": "tag",
        "label": "Tag Name",
        "default": "shopify"
      },
	  {
		"type":"header",
		"content":"Appearance"
	  },	
		{
            "type": "select",
            "id": "instastyle",
            "label": "Select Style",
            "default": "carousel",
            "options": [
              {
                "value": "carousel",
                "label": "Carousel"
              },
              {
                "value": "List"
              }			  
		   ]
        }, 
	{
        "type": "select",
        "id": "images_size",
        "label": "Image Size",
		"default":"150",
        "options": [
          {
            "value": "150",
            "label": "Small"
          },
          {
            "value": "320",
            "label": "Medium"
          },
          {
            "value": "640",
            "label": "Large"
          }
        ]
      },
 	 {
        "type": "checkbox",
        "id": "grid_space",
        "label": "Enable Grid Space",
        "default": true       
      },  
      {
        "type": "range",
        "id": "limit",
        "label": "Number of Photos to Display",
        "default": 7,
        "min": 1,
        "max": 12,
        "step": 1
      },      
	  {
         "type": "paragraph",
         "content": "Photos Per Row for Carousel Only"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Desktop",
        "default": 6,
        "min": 1,
        "max": 12,
        "step": 1
      },
      {
        "type": "range",
        "id": "tablet-grid",
        "label": "Tablet",
        "default": 5,
        "min": 1,
        "max": 7,
        "step": 1
      },
      {
        "type": "range",
        "id": "mobile-grid",
        "label": "Mobile",
        "default": 3,
        "min": 1,
        "max": 5,
        "step": 1
      },
	 {
        "type": "text",
        "id": "instagram_button_text",
        "label": "Button Instagram Text",
        "default": "View Gallery"
      },
      {
        "type": "text",
        "id": "instagram_button_link",
        "label": "Button Instagram Link"
      }
    ],   
    "presets": [
      {
        "name": "Instagram",
        "category": "5. Social"       
      }
    ]
  }
{% endschema %}