<div class="trust-wrapper">
  <div class="page-width">
    {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2>{{ section.settings.title | escape }}</h2>
      </div>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <ul class="trust-bar{% if section.settings.title_enable %} trust-bar--large{% endif %}">
        {% for block in section.blocks %}
          <li class="trust-bar__item{% if section.settings.title_enable %} trust-bar__item--large{% endif %}" {{ block.shopify_attributes }}>
            {% if block.settings.link != blank %}
              <a href="{{ block.settings.link }}" class="trust-bar__link">
            {% endif %}
            {% if block.settings.image != blank %}
              {{ block.settings.image | img_url: '125x125', scale: 2 | img_tag: block.settings.image.alt, 'trust-bar__image' }}
            {% else %}

                <img src="{{ 'placeholder.svg' | asset_url }}" class="trust-bar__image placeholder" />

            {% endif %}
            {% if block.settings.text != blank %}   
                <h4 class="trust-bar__text">{{ block.settings.text }}</h4>
            {% endif %}
            {% if block.settings.link != blank %}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}
  </div>
</div>  


<style>
  
  .index-section.trust-section {
  	padding: 0;
    margin: 0;
  }
  
  .trust-wrapper {
  	background-color: {{ section.settings.background_colour }};
    padding: 3rem 0 2rem;
  }
  
  .trust-bar {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: end;
  }

  .trust-bar__item {
    display: inline-block;
    margin: 1rem 5% 0;
    max-width: 40%;
    box-sizing: content-box;
    width: 100px;
  }

  @media only screen and (min-width: 769px) {
    .trust-bar__item--large {
      margin-bottom: 2rem;
    }
  }

  .trust-bar__image {
    display: block;
    margin: 0 auto;
  }

  .trust-bar__image.placeholder {
    height: 100%;
    width: 100%;
  }

  .trust-bar__text {
      margin-top: 1rem;
      font-size: 0.9rem;
  }

  .trust-bar__link {
    display: block;
  }
  
</style>


{% schema %}
{
  "name": {
    "da": "Trustliste",
    "de": "Trust-Liste",
    "en": "Trust bar",
    "es": "Lista de trusttipos",
    "fi": "Trustluettelo",
    "fr": "Liste des trust",
    "hi": "लोगो सूची",
    "it": "Elenco loghi",
    "ja": "ロゴリスト",
    "ko": "로고 목록",
    "ms": "Senarai trust",
    "nb": "Trustliste",
    "nl": "Trustlijst",
    "pt-BR": "Lista de trusttipos",
    "pt-PT": "Lista de logótipos",
    "sv": "Trusttyplista",
    "th": "รายการโลโก้",
    "zh-CN": "trust 列表",
    "zh-TW": "標誌清單"
  },
  "class": "index-section trust-section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "ms": "Tajuk",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Trustliste",
        "de": "Trust-Liste",
        "en": "Trust Bar",
        "es": "Lista de trusttipos",
        "fi": "Trustluettelo",
        "fr": "Liste des trust",
        "hi": "लोगो सूची",
        "it": "Elenco loghi",
        "ja": "ロゴリスト",
        "ko": "로고 목록",
        "ms": "Senarai trust",
        "nb": "Trustliste",
        "nl": "Trustlijst",
        "pt-BR": "Lista de trusttipos",
        "pt-PT": "Lista de logótipos",
        "sv": "Trusttyplista",
        "th": "รายการโลโก้",
        "zh-CN": "trust 列表",
        "zh-TW": "標誌清單"
      }
    },
{
   "type": "color",
   "id": "background_colour",
   "label": "Background Colour",
   "default": "transparent"
 }
  ],
  "blocks": [
    {
      "type": "trust_image",
      "name": {
        "da": "Trust",
        "de": "Trust",
        "en": "Trust",
        "es": "Trusttipo",
        "fi": "Trust",
        "fr": "Trust",
        "hi": "लोगो",
        "it": "Trust",
        "ja": "ロゴ",
        "ko": "로고",
        "ms": "Trust",
        "nb": "Trust",
        "nl": "Trust",
        "pt-BR": "Trusttipo",
        "pt-PT": "Logótipo",
        "sv": "Trusttyp",
        "th": "โลโก้",
        "zh-CN": "trust",
        "zh-TW": "商標"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "da": "Billede",
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "hi": "इमेज",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "ms": "Imej",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "da": "Link",
            "de": "Link",
            "en": "Link",
            "es": "Enlace",
            "fi": "Linkki",
            "fr": "Lien",
            "hi": "लिंक",
            "it": "Link",
            "ja": "リンク",
            "ko": "링크",
            "ms": "Pautan",
            "nb": "Kobling",
            "nl": "Link",
            "pt-BR": "Link",
            "pt-PT": "Ligação",
            "sv": "Länk",
            "th": "ลิงก์",
            "zh-CN": "链接",
            "zh-TW": "連結"
          },
          "info": {
            "da": "Valgfri",
            "de": "Optional",
            "en": "Optional",
            "es": "Opcional",
            "fi": "Valinnainen",
            "fr": "Facultatif",
            "hi": "वैकल्पिक",
            "it": "Facoltativo",
            "ja": "オプション",
            "ko": "선택 사항",
            "ms": "Opsyenal",
            "nb": "Valgfritt",
            "nl": "Optioneel",
            "pt-BR": "Opcional",
            "pt-PT": "Opcional",
            "sv": "Valfritt",
            "th": "ไม่จำเป็น",
            "zh-CN": "可选",
            "zh-TW": "(選填)"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Trustliste",
        "de": "Trust-Liste",
        "en": "Trust bar",
        "es": "Lista de trusttipos",
        "fi": "Trustluettelo",
        "fr": "Liste des trust",
        "hi": "लोगो सूची",
        "it": "Elenco loghi",
        "ja": "ロゴリスト",
        "ko": "로고 목록",
        "ms": "Senarai trust",
        "nb": "Trustliste",
        "nl": "Trustlijst",
        "pt-BR": "Lista de trusttipos",
        "pt-PT": "Lista de logótipos",
        "sv": "Trusttyplista",
        "th": "รายการโลโก้",
        "zh-CN": "trust 列表",
        "zh-TW": "標誌清單"
      },
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "ms": "Imej",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "blocks": [
        {
          "type": "trust_image"
        },
        {
          "type": "trust_image"
        },
        {
          "type": "trust_image"
        },
        {
          "type": "trust_image"
        }
      ]
    }
  ]
}
{% endschema %}
